@font-face {
    font-family: 'junicodeboldcondensed';
    src: url('/fonts/junicode-boldcondensed-webfont.eot');
    src: url('/fonts/junicode-boldcondensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/junicode-boldcondensed-webfont.woff2') format('woff2'),
         url('/fonts/junicode-boldcondensed-webfont.woff') format('woff'),
         url('/fonts/junicode-boldcondensed-webfont.ttf') format('truetype'),
         url('/fonts/junicode-boldcondensed-webfont.svg#junicodeboldcondensed') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'junicodeitaliccondensed';
    src: url('/fonts/junicode-italiccondensed-webfont.eot');
    src: url('/fonts/junicode-italiccondensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/junicode-italiccondensed-webfont.woff2') format('woff2'),
         url('/fonts/junicode-italiccondensed-webfont.woff') format('woff'),
         url('/fonts/junicode-italiccondensed-webfont.ttf') format('truetype'),
         url('/fonts/junicode-italiccondensed-webfont.svg#junicodeitaliccondensed') format('svg');
    font-weight: normal;
    font-style: normal;

}


article h1 {
	font-family: 'junicodeboldcondensed';
	font-size: 2em;
	padding: 0;
	margin: 0;
}

article iframe {
	display: block;
	margin: 0 auto;
}

body {
	background: #d0c3b4;
	font-family: sans-serif;
	color: #373530;
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 1em;
	padding-right: 1em;
}

header img {
	max-width: 6em;
	padding: 1em 0.5em;
}

nav ul {
	list-style-type: none;
	margin: 0 0 0 0;
	padding: 0;
	background-color: #373530;
	overflow: hidden;
}

.archive ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.archive li a {
	display: block;
	font-family: 'junicodeboldcondensed';
	text-decoration: none;
	background-color: #d0c3b4;
	color: #373530;
	padding-left: 0.1em;
}

.archive li a:hover {
	background-color: #373530;
	color: #d0c3b4;
}

nav li {
	float: left;
}

nav li a {
	display: block;
	font-family: 'junicodeboldcondensed';
	width: 3em;
	padding: 0.5em;
	text-decoration: none;
	background-color: #373530;
	text-align: center;
	color: #d0c3b4;
}

nav li a:hover {
	color: #373530;
	background-color: #d0c3b4;
}

article {
	padding: 0.5em;
}

article h1 {
	font-family: 'junicodeboldcondensed';
	font-size: 3em;
	letter-spacing: -.02em;
	padding: 0;
	margin: 0;
}

article img {
	max-width: 100%;
	margin: 0 auto;
}

footer {
	padding: 0 0.5em;
	color: #373530;
	font-family: 'junicodeboldcondensed';
}
